{% extends "base.html" %}

{% block content %}
<body>
<div id='map' style='width: 100%; height: 100vh;'></div>

<div class="absolute top-40 left-2 bg-cyan-300 p-4 rounded-xl text-white">
  <div class="flex items-center justify-center pb-2">
    <h2 class="text-xl font-bold leading-3 text-cyan-800">Choose your activity type</h2>
  </div>

  <fieldset class="mt-2">
    <div class="grid grid-cols-3 gap-3 sm:grid-cols-3">
      <!--
        In Stock: "cursor-pointer", Out of Stock: "opacity-25 cursor-not-allowed"
        Active: "ring-2 ring-indigo-600 ring-offset-2"
        Checked: "bg-indigo-600 text-white hover:bg-indigo-500", Not Checked: "ring-1 ring-inset ring-gray-300 bg-white text-gray-900 hover:bg-gray-50"
      -->
      <label id="hiking" onclick="select_choice('hiking')" class="choose flex items-center justify-center rounded-md py-3 px-3 text-sm font-semibold uppercase sm:flex-1 cursor-pointer focus:outline-none bg-cyan-500">
        <span class="flex">Hiking <div style="height: 10px; width: 10px; background-color: #42d7cf;" class="rounded-xl"></div></span>
      </label>
      <!--
        In Stock: "cursor-pointer", Out of Stock: "opacity-25 cursor-not-allowed"
        Active: "ring-2 ring-indigo-600 ring-offset-2"
        Checked: "bg-indigo-600 text-white hover:bg-indigo-500", Not Checked: "ring-1 ring-inset ring-gray-300 bg-white text-gray-900 hover:bg-gray-50"
      -->
      <label id="cycling" onclick="select_choice('cycling')" class="choose flex items-center justify-center rounded-md py-3 px-3 text-sm font-semibold uppercase sm:flex-1 cursor-pointer focus:outline-none">
          <span class="flex">Cycling <div style="height: 10px; width: 10px; background-color: #cb932f;" class="rounded-xl"></div></span>
      </label>
      <!--
        In Stock: "cursor-pointer", Out of Stock: "opacity-25 cursor-not-allowed"
        Active: "ring-2 ring-indigo-600 ring-offset-2"
        Checked: "bg-indigo-600 text-white hover:bg-indigo-500", Not Checked: "ring-1 ring-inset ring-gray-300 bg-white text-gray-900 hover:bg-gray-50"
      -->
      <label id="camping" onclick="select_choice('camping')" class="choose flex items-center justify-center rounded-md py-3 px-3 text-sm font-semibold uppercase sm:flex-1 cursor-pointer focus:outline-none">
        <span class="flex">Camping <div style="height: 10px; width: 10px; background-color: #209f30;" class="rounded-xl"></div></span>
      </label>
    </div>
  </fieldset>
</div>

</body>
    <script>
// TO MAKE THE MAP APPEAR YOU MUST
// ADD YOUR ACCESS TOKEN FROM
// https://account.mapbox.com
mapboxgl.accessToken = '{{ mp_token }}';
const map = new mapboxgl.Map({
    style: 'mapbox://styles/mapbox/light-v11',
    center: [-74.0066, 40.7135],
    zoom: 15.5,
    pitch: 45,
    bearing: -17.6,
    container: 'map',
    antialias: true
});

map.on('style.load', () => {
    const layers = map.getStyle().layers;
    const labelLayerId = layers.find(
    (layer) => layer.type === 'symbol' && layer.layout['text-field']
    ).id;

    map.addLayer(
        {
            'id': 'add-3d-buildings',
            'source': 'composite',
            'source-layer': 'building',
            'filter': ['==', 'extrude', 'true'],
            'type': 'fill-extrusion',
            'minzoom': 5,
            'paint': {
            'fill-extrusion-color': '#aaa',

            // Use an 'interpolate' expression to
            // add a smooth transition effect to
            // the buildings as the user zooms in.
            'fill-extrusion-height': [
                'interpolate',
                ['linear'],
                ['zoom'],
                15,
                0,
                15.05,
                ['get', 'height']
            ],
            'fill-extrusion-base': [
                'interpolate',
                ['linear'],
                ['zoom'],
                15,
                0,
                15.05,
                ['get', 'min_height']
            ],
            'fill-extrusion-opacity': 0.6
            }
        },
        labelLayerId
    );
});

let ui_markers = {}

let selected = 'hiking'

let marker_colors = {
    'hiking': '#42d7cf',
    'cycling': '#cb932f',
    'camping': '#209f30'
}

var markers = JSON.parse('{{ markers|escapejs }}');


for (var i = 0; i < markers.length; i++) {
  var item = markers[i];
  // Access item properties and perform operations
  console.log(item);
  var marker = new mapboxgl.Marker({color: marker_colors[item.fields.action_type]})
      .setLngLat({lat: item.fields.lat, lng: item.fields.lng})
      .addTo(map);

  ui_markers[item.fields.action_type] = marker
}

function getCookie(name) {
  const cookieValue = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
  return cookieValue ? cookieValue.pop() : '';
}

const csrftoken = getCookie('csrftoken');

map.on('click', function(e) {
  var coordinates = e.lngLat;

    // Create a new marker with a unique identifier
    var marker = new mapboxgl.Marker({color: marker_colors[selected]})
      .setLngLat(coordinates)
      .addTo(map);

    if(selected in ui_markers && ui_markers[selected]) {
        ui_markers[selected].remove()
    }

    ui_markers[selected] = marker


    const data = new FormData();
    data.append('activity', selected);
    data.append('lng', coordinates.lng);
    data.append('lat', coordinates.lat);

    fetch('/change-location/', {
        method: 'post',
        headers: {
            "X-CSRFToken": getCookie("csrftoken"),
        },
        body: data
    })
        .then((res) => {return res.json()})
        .then(json => {
            console.log('asdasd')
        })
        .catch(err => {
            console.log(err)
        });
});


function generateRandomLong() {
    var num = (Math.random()*180).toFixed(3);
    var posorneg = Math.floor(Math.random());
    if (posorneg == 0) {
        num = num * -1;
    }
    return num;
}
// LATITUDE -90 to +90
function generateRandomLat() {
    var num = (Math.random()*90).toFixed(3);
    var posorneg = Math.floor(Math.random());
    if (posorneg == 0) {
        num = num * -1;
    }
    return num;
}


function select_choice(value) {
    selected = value;
    Array.from(document.getElementsByClassName('choose')).forEach(
        function(element, index, array) {
            if (element.id == value) {
                element.classList.add("bg-cyan-500");


                let markerCoordinates = null;

                if (!(element.id in ui_markers) || !ui_markers[element.id]) {
                    {#if there is no lat and lgt for selected acivity generate random and save to db#}

                     let coordinates_new = {
                         lat: generateRandomLat(),
                         lng: generateRandomLong()
                     }


                     const data = new FormData();
                     data.append('activity', selected);
                     data.append('lng', coordinates_new.lng);
                     data.append('lat', coordinates_new.lat);

                    console.log(coordinates_new, "NEWWW")
                     fetch('/change-location/', {
                        method: 'post',
                        headers: {
                            "X-CSRFToken": getCookie("csrftoken"),
                        },
                        body: data
                     })
                        .then((res) => {return res.json()})
                        .then(json => {
                            console.log('asdasd')
                        })
                        .catch(err => {
                            console.log(err)
                        });

                     let new_marker = new mapboxgl.Marker({color: marker_colors[selected]})
                      .setLngLat(coordinates_new)
                      .addTo(map);

                     ui_markers[element.id] = new_marker
                }

                markerCoordinates = ui_markers[element.id].getLngLat()

                map.flyTo({
                  center: markerCoordinates,
                  zoom: 15, // You can adjust the desired zoom level
                  speed: 1.5, // You can adjust the animation speed
                  curve: 1, // You can adjust the animation curve
                  essential: true // If set to true, this animation will be considered essential and will not be affected by browser constraints
                });
            } else {
                element.classList.remove("bg-cyan-500");
            }
        }
    );
}

</script>
{% endblock %}